<div class="min-h-screen bg-gray-50 py-4">
  <!-- Back Button -->
  <div class="max-w-md mx-auto px-4 mb-4">
    <%= link_to events_path, class: "inline-flex items-center px-4 py-2 border border-[#95C24A] rounded-xl text-sm font-medium bg-white shadow-sm" do %>
      ← All Event
    <% end %>
  </div>

  <div class="max-w-md mx-auto px-4 mt-4">

    <!-- Title -->
    <h1 class="text-2xl font-bold text-gray-800 mb-2">MY EVENT</h1>

    <!-- Event Cards -->
    <div class="space-y-4">
      <% @events.each do |event| %>
        <div class="bg-white rounded-xl p-5 shadow-sm">
          
          <!-- Title -->
          <h2 class="text-lg font-bold text-gray-900 mb-2">
            <%= event.name.presence || "XXXXXXXXXXXX" %>
          </h2>

          <!-- Date -->
          <p class="text-gray-400 text-sm">Date</p>
          <p class="text-gray-800 font-medium mb-4">
            <%= event.start_date %> -
            <%= event.end_date %>
          </p>

          <!-- Actions -->
          <div class="flex items-center gap-3">
            <%= link_to "Detail", event_path(event),
                class: "flex-1 text-center bg-[#95C24A] text-white py-3 rounded-xl font-medium hover:bg-green-600 transition" %>

          <!-- Delete Icon -->
          <%= link_to event_path(event),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "w-12 h-12 items-center justify-center flex p-3 border rounded-xl" do %>
              🗑️
            <% end %>

          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>