<h1>Create Event</h1>

<%= form_with model: @event do |form| %>
  <div class="mb-4">
    <%= form.label :photo, "Photo", class: "block mb-1 font-medium" %>

    <%= form.file_field :photo,
        accept: "image/jpeg,image/png,image/heic",
        class: "border border-gray-300 rounded px-3 py-2 w-full" %>
    <% @event.errors.full_messages_for(:photo).each do |message| %>
      <p class="mt-1 text-sm text-red-600"><%= message %></p>
    <% end %>
  </div>  
  <div>
    <%= form.label :name, "Event Name" %><br>
    <%= form.text_field :name, placeholder: "ลองแกล้งๆตั้งชื่อมาหน่อยจ้า", class: "border border-gray-300 rounded px-3 py-2" %>
  </div>
  <div class="mb-4">
    <label class="block mb-2 font-medium">Activity Type</label>

    <div class="flex gap-3">

      <label class="cursor-pointer">
        <%= form.check_box :activity_type, { multiple: true, class: "hidden peer" }, "swimming", nil %>
        <span class="px-4 py-2 border border-gray-300 rounded-lg peer-checked:bg-blue-600 peer-checked:text-white">
          Swimming
        </span>
      </label>

      <label class="cursor-pointer">
        <%= form.check_box :activity_type, { multiple: true, class: "hidden peer" }, "running", nil %>
        <span class="px-4 py-2 border border-gray-300 rounded-lg peer-checked:bg-blue-600 peer-checked:text-white">
          Running
        </span>
      </label>

      <label class="cursor-pointer">
        <%= form.check_box :activity_type, { multiple: true, class: "hidden peer" }, "cycling", nil %>
        <span class="px-4 py-2 border border-gray-300 rounded-lg peer-checked:bg-blue-600 peer-checked:text-white">
          Cycling
        </span>
      </label>

    </div>
  </div>
  <div class="mb-4">
  <label class="block mb-2 font-medium">Category</label>

  <div class="flex gap-3">

    <label class="cursor-pointer">
      <%= form.radio_button :category, "race", class: "hidden peer" %>
      <span class="px-4 py-2 border border-gray-300 rounded-lg
                   peer-checked:bg-blue-600 peer-checked:text-white">
        Race
      </span>
    </label>

    <label class="cursor-pointer">
      <%= form.radio_button :category, "camp", class: "hidden peer" %>
      <span class="px-4 py-2 border border-gray-300 rounded-lg
                   peer-checked:bg-blue-600 peer-checked:text-white">
        Camp
      </span>
    </label>

  </div>
</div>
  <div>
    <%= form.label :description, "Description" %><br>
    <%= form.text_field :description, placeholder: "ทำกิจกรรมอะไรกันบ้าง, กินข้าวหรือดริ๊งๆ", class: "border border-gray-300 rounded px-3 py-2" %>
  </div>
  <div>
    <%= form.label :location, "Location" %><br>
    <%= form.text_field :location_description, placeholder: "ไหนลองบอกที่ๆจะไปมาหน่อยสิ๊", class: "border border-gray-300 rounded px-3 py-2" %><br>
    <%= form.text_field :location_link, placeholder: "Link Google Map (Optional)", class: "border border-gray-300 rounded px-3 py-2" %>
  </div>

  <div class="space-y-2">
    <label class="block text-sm font-medium">Date Range</label>

    <input
      type="text"
      id="date_range"
      name="date_range"
      class="w-full rounded-lg border-gray-300 focus:border-blue-500 focus:ring-blue-500"
      placeholder="Select date range"
    >
    <%= form.hidden_field :start_date, id: "start_date" %>
    <%= form.hidden_field :end_date, id: "end_date" %>
  </div>

  <div>
    <%= form.submit "Create Event", class: "bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded-lg shadow" %>
  </div>
<% end %>