<h1>Create Event</h1>

<%= form_with model: @event do |form| %>
  <div>
    <%= form.label :name, "Event Name" %><br>
    <%= form.text_field :name, class: "border border-gray-300 rounded px-3 py-2" %>
  </div>
  <div>
  <%= form.label :description, "Description" %><br>
    <%= form.text_field :description, class: "border border-gray-300 rounded px-3 py-2" %>
  </div>
    <div>
  <%= form.label :location, "Location" %><br>
    <%= form.text_field :location_description, class: "border border-gray-300 rounded px-3 py-2" %><br>
    <%= form.text_field :location_link, class: "border border-gray-300 rounded px-3 py-2" %>
  </div>

  <div>
    <%= form.submit "Create Event" %>
  </div>
<% end %>