<h1>Create Event</h1>

<%= form_with model: @event do |form| %>
  <div>
    <%= form.label :name, "Event Name" %><br>
    <%= form.text_field :name %>
  </div>
  <div>
  <%= form.label :description, "Description" %><br>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit "Create Event" %>
  </div>
<% end %>